/* ContactSection.css */

.heading{
  font-size: 1.8rem;
  margin-top: 60px;
  margin-bottom: -20px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  /* background-color: #f9fef5; */
  font-family: 'Segoe UI', sans-serif;
  flex-wrap: wrap;
}


.contact-left {
  flex: 1;
  padding-right: 40px;
  min-width: 300px;
}

.contact-left h2 {
  line-height: 1.2; /* Decrease this number to reduce space */
}

.contact-right {
  flex: 1;
  background-color: #eff8e6;
  padding: 30px;
  border-radius: 8px;
  min-width: 300px;
}

.highlight-1{
  color: #64b000;
  font-weight: 600;
  margin-left: 2px;
  font-size: 1.5rem;
  margin-bottom: -20px;
  
}

h2 {
  font-size: 2.7rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.para{
  margin-bottom: 15px;
}

.highlight {
  color: #64b000;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 8px;
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 20px;
  font-size: 0.95rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  font-size: 1rem;
}

.contact-form button {
  background-color: #64b000;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background 0.3s ease;
  width: 180px;
}

.contact-form button:hover {
  background-color: #518e00;
}
