.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e7d32;
  padding: 10px 0px;
  position: fixed;
  width: 1520px;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .logo a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}

.nav-links a, .user-links a, .user-links button {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Arial', sans-serif; /* Match Auth.css */
}

.user-links {
  margin-right: 30px;
}

.nav-links a:hover, .user-links a:hover, .user-links button:hover {
  color: #a5d6a7;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .nav-links, .user-links {
    margin-top: 10px;
  }

  .nav-links a, .user-links a, .user-links button {
    margin: 5px 10px;
  }
}